/* AcercaDe.css */
.carousel-image {
  width: 100%; /* Establece el ancho de las imágenes al 100% del contenedor */
  height: auto; /* Establece la altura automáticamente para mantener la proporción */
}

/* AcercaDe.css */
.carousel-root {
  max-width: 600px; /* Establece el ancho máximo del carrusel */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

.carousel .slide {
  max-height: 300px; /* Establece la altura máxima de cada slide */
}

.carousel .carousel-slider {
  height: 300px; /* Establece la altura del área visible del carrusel */
}
