/* Estilos para el Footer */
.footer {
  background: linear-gradient(#f8f3e3, #c2ad89);
  padding: 20px 0;
  margin-top: 40px;
}

.instagram-icon {
  color: black;
  margin-top: 20px;
  cursor: pointer;
}
