.menu-section {
  margin-bottom: 1rem;
}

.section-button {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #4b3e3e; /* Color acorde a tu página */
  border: none;
  color: white;
}

.section-button.open {
  background-color: #c5a47e; /* Color diferente cuando está abierto */
}

.section-button:hover {
  background-color: #c5a47e; /* Color de hover */
}

.button-icon {
  float: right;
}

.section-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
