/* Estilos para el Navbar */
.navbar {
  background-color: #c5a47e; /* Color beige claro */
  border-bottom: 1px solid #e0d6c3; /* Añade un borde inferior */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #4b3e3e;
}
