body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("./assets/beige.jpg"); /* Ajusta la ruta si es necesario */
  background-size: cover; /* Ajustar la imagen de fondo para cubrir toda la pantalla */
  background-attachment: fixed; /* Mantener la imagen fija al hacer scroll */
  color: #4b3e3e; /* Color marrón oscuro para el texto */
  margin: 0;
  padding: 0;
  line-height: 1.6; /* Mejora la legibilidad del texto */
}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  border-top: 1px solid #c5a47e;
  margin: 20px auto;
  width: 80%;
}
